.form-container {
    width: auto;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.document-container {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.document-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.logo-left {
    width: 200px; /* Ajusta según lo necesario */
    height: auto;
}

/* Logo derecho */
.logo-right {
    width: 100px; /* Tamaño específico para el logo derecho */
    height: auto; /* Mantener proporción */
}

/* Fecha, Hora y Nombre del Fisioterapeuta */
.document-date-left,
.document-additional-info {
    margin-top: 10px;
    text-align: left;
    font-size: 16px;
    font-weight: normal;
    color: #333;
    padding-left: 20px; /* Alinea con el logo izquierdo */
}

.logo-left {
    width: 200px; /* Asegúrate de que este tamaño coincide con tu logo */
    height: auto;
    margin-left: 20px; /* Margen izquierdo para alinear */
}

/* Bordes predeterminados y apariencia en los campos de hora y nombre */
.input-date,
.input-time,
.input-name {
    color: #333; /* Color del texto */
    background-color: #fff; /* Fondo blanco */
    border: 1px solid #ccc; /* Borde gris suave */
    border-radius: 4px; /* Bordes redondeados */
    padding: 4px 8px; /* Relleno interno */
    font-size: 16px; /* Tamaño de fuente */
    width: auto;
    display: inline-block;
    outline: none; /* Eliminar el borde al enfocar */
    height: 15px; /* Establecer una altura uniforme */
}

/* Cambiar el color de los placeholders también para asegurar que sean visibles */
.input-date::placeholder,
.input-time::placeholder,
.input-name::placeholder,
.input-textarea::placeholder {
    color: #B0B0B0; /* Gris claro para los placeholders */
    opacity: 1; /* Asegura que el color se muestre completamente */
}

/* Separación entre las líneas */
.document-additional-info p {
    margin-top: 5px;
}

/* Sección S, O, A, y P: Configurar el textarea */
.document-textarea {
    margin-top: 10px;
    text-align: left;
    font-size: 16px;
    font-weight: normal;
    color: #333;
    padding-left: 20px; /* Alinea con el logo izquierdo */
}

.input-textarea {
    display: block;
    color: #333; /* Color oscuro para el texto */
    width: calc(100% - 40px); /* Máximo ancho, respetando el padding del contenedor */
    max-width: 100%; /* No excede el ancho del contenedor */
    height: 7rem; /* Altura de 7 renglones */
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none; /* Eliminar opción de redimensionar */
    background-color: #fff;
}

/* Separación entre las líneas */
.document-textarea p {
    margin-top: 5px;
}